.CreateCard {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  position: relative;

  &-dark {
    border: 1px solid #878787;
  }
}

.CreateCardContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.CreateCardTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.CreateCardSwitch {
  display: flex;
  gap: 10px;
  align-items: center;
}
.SelectWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.SelectInput > span {
  font-size: 10px;
  color: #787878;
}

.SelectInput {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease;
  font-family: "Inter";
  border: 1px solid #dbdbdb;

  &-dark {
    background: #000;
    color: #fff;
    border: 1px solid #787878;
  }

  &-light {
    background: #fff;
    color: #000;
    border: 1px solid #dbdbdb;
  }

  &Open {
    border-color: #888;
  }
}

.SelectArrow {
  font-family: "Inter";
  transform: rotate(90deg);
  font-size: 14px !important;
  color: #fff !important;

  &Open {
    transform: rotate(-90deg);
  }
}

/* Контейнер, который занимает место */
.SelectDropdownContainer {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.25s ease;
}

.SelectDropdownContainerOpen {
  max-height: 200px;
  opacity: 1;
}

.SelectDropdown {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  margin-top: 4px;

  &-dark {
    background: #000;
    border: 1px solid #787878;
  }

  &-light {
    background: #fff;
    border: 1px solid #dbdbdb;
  }
}

.SelectOption {
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  color: #787878;
  font-family: "Inter";
  text-align: end;
  transition: background 0.2s;
  border: 1px solid #787878;
  border-radius: 12px;
  margin-bottom: 5px;
  font-size: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.Title {
  margin-top: 10px;
}