.CreateCard {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;

  &-dark {
    border: 1px solid #878787;
  }
}

.CreateCardContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.CreateCardTest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
