.InfoWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: -15px;
  padding-bottom: 15px;
}

.LoggedInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Link {
  text-decoration: none;
}

.LinkTitle {
  text-decoration: underline;
}

.LinkPanel {
  align-self: end;
  text-align: end;
}
